.em-wide {
  letter-spacing: 4px
}

.em-image {
  max-width: 100%;
  height: auto
}

.em-table, .em-table-all {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table
}

.em-table-all {
  border: 1px solid #ccc
}

.em-bordered tr, .em-table-all tr {
  border-bottom: 1px solid #ddd
}

.em-striped tbody tr:nth-child(even) {
  background-color: #f1f1f1
}

.em-table-all tr:nth-child(odd) {
  background-color: #fff
}

.em-table-all tr:nth-child(even) {
  background-color: #f1f1f1
}

.em-hoverable tbody tr:hover, .em-ul.em-hoverable li:hover {
  background-color: #ccc
}

.em-centered tr th, .em-centered tr td {
  text-align: center
}

.em-table td, .em-table th, .em-table-all td, .em-table-all th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top
}

.em-table th:first-child, .em-table td:first-child, .em-table-all th:first-child, .em-table-all td:first-child {
  padding-left: 16px
}

.em-btn, .em-btn-block, .em-button {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 6px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none !important;
  color: #fff;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.em-btn:hover, .em-btn-block:hover, .em-btn-floating:hover, .em-btn-floating-large:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.em-button {
  color: #fff;
  background-color: #ab2626;
  padding: 8px 16px
}

.em-button:hover {
  background-color: #c53333;
}

.em-btn, .em-btn-floating, .em-btn-floating-large, .em-closenav, .em-opennav, .em-btn-block, .em-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.em-btn-floating, .em-btn-floating-large {
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #000;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px
}

.em-btn-floating {
  width: 40px;
  height: 40px;
  line-height: 40px
}

.em-btn-floating-large {
  width: 56px;
  height: 56px;
  line-height: 56px
}

.em-disabled, .em-btn:disabled, .em-button:disabled, .em-btn-floating:disabled, .em-btn-floating-large:disabled {
  cursor: not-allowed;
  opacity: 0.3
}

.em-disabled *, :disabled * {
  pointer-events: none
}

.em-btn.em-disabled:hover, .em-btn-block.em-disabled:hover, .em-btn:disabled:hover, .em-btn-floating.em-disabled:hover, .em-btn-floating:disabled:hover,
.em-btn-floating-large.em-disabled:hover, .em-btn-floating-large:disabled:hover {
  box-shadow: none
}

.em-btn-group .em-btn {
  float: left
}

.em-btn-block {
  width: 100%
}

.em-btn-bar .em-btn {
  box-shadow: none;
  background-color: inherit;
  color: inherit;
  float: left
}

.em-btn-bar .em-btn:hover {
  background-color: #ccc
}

.em-badge, .em-tag, .em-sign {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center
}

.em-badge {
  border-radius: 50%
}

ul.em-ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

ul.em-ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd
}

ul.em-ul li:last-child {
  border-bottom: none
}

.em-tooltip, .em-display-container {
  position: relative
}

.em-tooltip .em-text {
  display: none
}

.em-tooltip:hover .em-text {
  display: inline-block
}

.em-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden
}

.em-navbar li {
  float: left
}

.em-navbar li a, .em-navitem, .em-navbar li .em-btn, .em-navbar li .em-input {
  display: block;
  padding: 8px 16px
}

.em-navbar li .em-btn, .em-navbar li .em-input {
  border: none;
  outline: none;
  width: 100%
}

.em-navbar li a:hover {
  color: #000;
  background-color: #ccc
}

.em-navbar .em-dropdown-hover, .em-navbar .em-dropdown-click {
  position: static
}

.em-navbar .em-dropdown-hover:hover, .em-navbar .em-dropdown-hover:first-child, .em-navbar .em-dropdown-click:hover {
  background-color: #ccc;
  color: #000
}

.em-navbar a, .em-topnav a, .em-sidenav a, .em-dropdown-content a, .em-accordion-content a, .em-dropnav a, .em-navblock a {
  text-decoration: none !important
}

.em-navbar .em-opennav.em-right {
  float: right !important
}

.em-topnav {
  padding: 8px 8px
}

.em-navblock .em-dropdown-hover:hover, .em-navblock .em-dropdown-hover:first-child, .em-navblock .em-dropdown-click:hover {
  background-color: #ccc;
  color: #000
}

.em-navblock .em-dropdown-hover, .em-navblock .em-dropdown-click {
  width: 100%
}

.em-navblock .em-dropdown-hover .em-dropdown-content, .em-navblock .em-dropdown-click .em-dropdown-content {
  min-width: 100%
}

.em-topnav a {
  padding: 0 8px;
  border-bottom: 3px solid transparent;
  -webkit-transition: border-bottom .25s;
  transition: border-bottom .25s
}

.em-topnav a:hover {
  border-bottom: 3px solid #fff
}

.em-topnav .em-dropdown-hover a {
  border-bottom: 0
}

.em-opennav, .em-closenav {
  color: inherit
}

.em-opennav:hover, .em-closenav:hover {
  cursor: pointer;
  opacity: 0.8
}

.em-btn, .em-btn-floating, .em-dropnav a, .em-btn-floating-large, .em-btn-block, .em-navbar a, .em-navblock a, .em-sidenav a, .em-pagination li a, .em-hoverable tbody tr, .em-hoverable li,
.em-accordion-content a, .em-dropdown-content a, .em-dropdown-click:hover, .em-dropdown-hover:hover, .em-opennav, .em-closenav, .em-closebtn, *[class*="em-hover-"] {
  -webkit-transition: background-color .25s, color .15s, box-shadow .25s, opacity 0.25s, filter 0.25s, border 0.15s;
  transition: background-color .25s, color .15s, box-shadow .15s, opacity .25s, filter .25s, border .15s
}

.em-ripple:active {
  opacity: 0.5
}

.em-ripple {
  -webkit-transition: opacity 0s;
  transition: opacity 0s
}

.em-sidenav, .em-sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto
}

.em-sidenav a, .em-navblock a {
  padding: 4px 2px 4px 16px
}

.em-sidenav a:hover, .em-navblock a:hover {
  background-color: #ccc;
  color: #000
}

.em-sidenav a, .em-dropnav a, .em-navblock a {
  display: block
}

.em-sidenav .em-dropdown-hover:hover, .em-sidenav .em-dropdown-hover:first-child, .em-sidenav .em-dropdown-click:hover, .em-dropnav a:hover {
  background-color: #ccc;
  color: #000
}

.em-sidenav .em-dropdown-hover, .em-sidenav .em-dropdown-click, .em-bar-block .em-dropdown-hover, .em-bar-block .em-dropdown-click {
  width: 100%
}

.em-sidenav .em-dropdown-hover .em-dropdown-content, .em-sidenav .em-dropdown-click .em-dropdown-content, .em-bar-block .em-dropdown-hover .em-dropdown-content, .em-bar-block .em-dropdown-click .em-dropdown-content {
  min-width: 100%
}

.em-bar-block .em-dropdown-hover .em-button, .em-bar-block .em-dropdown-click .em-button {
  width: 100%;
  text-align: left;
  background-color: inherit;
  color: inherit;
  padding: 8px 16px
}

.em-main, #main {
  transition: margin-left .4s
}

.em-modal {
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4)
}

.em-modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px
}

.em-closebtn {
  text-decoration: none;
  float: right;
  font-size: 24px;
  font-weight: bold;
  color: inherit
}

.em-closebtn:hover, .em-closebtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer
}

.em-pagination {
  display: inline-block;
  padding: 0;
  margin: 0
}

.em-pagination li {
  display: inline
}

.em-pagination li a {
  text-decoration: none;
  color: #000;
  float: left;
  padding: 8px 16px
}

.em-pagination li a:hover {
  background-color: #ccc
}

.em-input-group, .em-group {
  margin-top: 24px;
  margin-bottom: 24px
}

.em-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #808080;
  width: 100%
}

.em-label {
  color: #009688
}

.em-input:not(:valid) ~ .em-validate {
  color: #f44336
}

.em-select {
  padding: 9px 0;
  width: 100%;
  color: #000;
  border: 1px solid transparent;
  border-bottom: 1px solid #009688
}

.em-select select:focus {
  color: #000;
  border: 1px solid #009688
}

.em-select option[disabled] {
  color: #009688
}

.em-dropdown-click, .em-dropdown-hover {
  position: relative;
  display: inline-block;
  cursor: pointer
}

.em-dropdown-hover:hover .em-dropdown-content {
  display: block;
  z-index: 1
}

.em-dropdown-hover:first-child, .em-dropdown-click:hover {
  background-color: #ccc;
  color: #000
}

.em-dropdown-hover:hover > .em-button:first-child, .em-dropdown-click:hover > .em-button:first-child {
  background-color: #ccc;
  color: #000
}

.em-dropdown-content {
  cursor: auto;
  color: #000;
  background-color: #fff;
  display: none;
  position: absolute;
  min-width: 160px;
  margin: 0;
  padding: 0
}

.em-dropdown-content a {
  padding: 6px 16px;
  display: block
}

.em-dropdown-content a:hover {
  background-color: #ccc
}

.em-accordion {
  width: 100%;
  cursor: pointer
}

.em-accordion-content {
  cursor: auto;
  display: none;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0
}

.em-accordion-content a {
  padding: 6px 16px;
  display: block
}

.em-accordion-content a:hover {
  background-color: #ccc
}

.em-progress-container {
  width: 100%;
  height: 1.5em;
  position: relative;
  background-color: #f1f1f1
}

.em-progressbar {
  background-color: #757575;
  height: 100%;
  position: absolute;
  line-height: inherit
}

input[type=checkbox].em-check, input[type=radio].em-radio {
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px
}

input[type=checkbox].em-check:checked + .em-validate, input[type=radio].em-radio:checked + .em-validate {
  color: #009688
}

input[type=checkbox].em-check:disabled + .em-validate, input[type=radio].em-radio:disabled + .em-validate {
  color: #aaa
}

.em-bar {
  width: 100%;
  overflow: hidden
}

.em-center .em-bar {
  display: inline-block;
  width: auto
}

.em-bar .em-bar-item {
  padding: 8px 16px;
  float: left;
  background-color: inherit;
  color: inherit;
  width: auto;
  border: none;
  outline: none;
  display: block
}

.em-bar .em-dropdown-hover, .em-bar .em-dropdown-click {
  position: static;
  float: left
}

.em-bar .em-button {
  color: inherit;
  white-space: normal
}

.em-bar-block .em-bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  background-color: inherit;
  color: inherit;
  border: none;
  outline: none;
  white-space: normal;
  float: none
}

.em-bar-block.em-center .em-bar-item {
  text-align: center
}

.em-block {
  display: block;
  width: 100%
}

.em-responsive {
  overflow-x: auto
}

.em-container:after, .em-container:before, .em-panel:after, .em-panel:before, .em-row:after, .em-row:before, .em-row-padding:after, .em-row-padding:before, .em-cell-row:before, .em-cell-row:after,
.em-topnav:after, .em-topnav:before, .em-clear:after, .em-clear:before, .em-btn-group:before, .em-btn-group:after, .em-btn-bar:before, .em-btn-bar:after, .em-bar:before, .em-bar:after {
  content: "";
  display: table;
  clear: both
}

.em-col, .em-half, .em-third, .em-twothird, .em-threequarter, .em-quarter {
  float: left;
  width: 100%
}

.em-col.s1 {
  width: 8.33333%
}

.em-col.s2 {
  width: 16.66666%
}

.em-col.s3 {
  width: 24.99999%
}

.em-col.s4 {
  width: 33.33333%
}

.em-col.s5 {
  width: 41.66666%
}

.em-col.s6 {
  width: 49.99999%
}

.em-col.s7 {
  width: 58.33333%
}

.em-col.s8 {
  width: 66.66666%
}

.em-col.s9 {
  width: 74.99999%
}

.em-col.s10 {
  width: 83.33333%
}

.em-col.s11 {
  width: 91.66666%
}

.em-col.s12, .em-half, .em-third, .em-twothird, .em-threequarter, .em-quarter {
  width: 99.99999%
}

@media (min-width: 601px) {
  .em-col.m1 {
    width: 8.33333%
  }
  .em-col.m2 {
    width: 16.66666%
  }
  .em-col.m3, .em-quarter {
    width: 24.99999%
  }
  .em-col.m4, .em-third {
    width: 33.33333%
  }
  .em-col.m5 {
    width: 41.66666%
  }
  .em-col.m6, .em-half {
    width: 49.99999%
  }
  .em-col.m7 {
    width: 58.33333%
  }
  .em-col.m8, .em-twothird {
    width: 66.66666%
  }
  .em-col.m9, .em-threequarter {
    width: 74.99999%
  }
  .em-col.m10 {
    width: 83.33333%
  }
  .em-col.m11 {
    width: 91.66666%
  }
  .em-col.m12 {
    width: 99.99999%
  }
}

@media (min-width: 993px) {
  .em-col.l1 {
    width: 8.33333%
  }
  .em-col.l2 {
    width: 16.66666%
  }
  .em-col.l3, .em-quarter {
    width: 24.99999%
  }
  .em-col.l4, .em-third {
    width: 33.33333%
  }
  .em-col.l5 {
    width: 41.66666%
  }
  .em-col.l6, .em-half {
    width: 49.99999%
  }
  .em-col.l7 {
    width: 58.33333%
  }
  .em-col.l8, .em-twothird {
    width: 66.66666%
  }
  .em-col.l9, .em-threequarter {
    width: 74.99999%
  }
  .em-col.l10 {
    width: 83.33333%
  }
  .em-col.l11 {
    width: 91.66666%
  }
  .em-col.l12 {
    width: 99.99999%
  }
}

.em-content {
  max-width: 1100px;
  margin: auto
}

.em-rest {
  overflow: hidden
}

.em-layout-container, .em-cell-row {
  display: table;
  width: 100%
}

.em-layout-row {
  display: table-row
}

.em-layout-cell, .em-layout-col, .em-cell {
  display: table-cell
}

.em-layout-top, .em-cell-top {
  vertical-align: top
}

.em-layout-middle, .em-cell-middle {
  vertical-align: middle
}

.em-layout-bottom, .em-cell-bottom {
  vertical-align: bottom
}

.em-hide {
  display: none !important
}

.em-show-block, .em-show {
  display: block !important
}

.em-show-inline-block {
  display: inline-block !important
}

@media (max-width: 600px) {
  .em-modal-content {
    margin: 0 10px;
    width: auto !important
  }
  .em-modal {
    padding-top: 30px
  }
  .em-topnav a {
    display: block
  }
  .em-navbar li:not(.em-opennav) {
    float: none;
    width: 100% !important
  }
  .em-navbar li.em-right {
    float: none !important
  }
  .em-topnav .em-dropdown-hover .em-dropdown-content, .em-navbar .em-dropdown-click .em-dropdown-content, .em-navbar .em-dropdown-hover .em-dropdown-content, .em-dropdown-hover.em-mobile .em-dropdown-content, .em-dropdown-click.em-mobile .em-dropdown-content {
    position: relative
  }
  .em-topnav, .em-navbar {
    text-align: center
  }
  .em-hide-small {
    display: none !important
  }
  .em-layout-col, .em-mobile {
    display: block;
    width: 100% !important
  }
  .em-bar-item.em-mobile, .em-dropdown-hover.em-mobile, .em-dropdown-click.em-mobile {
    text-align: center
  }
  .em-dropdown-hover.em-mobile, .em-dropdown-hover.em-mobile .em-btn, .em-dropdown-hover.em-mobile .em-button, .em-dropdown-click.em-mobile, .em-dropdown-click.em-mobile .em-btn, .em-dropdown-click.em-mobile .em-button {
    width: 100%
  }
}

@media (max-width: 768px) {
  .em-modal-content {
    width: 500px
  }
  .em-modal {
    padding-top: 50px
  }
}

@media (min-width: 993px) {
  .em-modal-content {
    width: 900px
  }
  .em-hide-large {
    display: none !important
  }
  .em-sidenav.em-collapse, .em-sidebar.em-collapse {
    display: block !important
  }
}

@media (max-width: 992px) and (min-width: 601px) {
  .em-hide-medium {
    display: none !important
  }
}

@media (max-width: 992px) {
  .em-sidenav.em-collapse, .em-sidebar.em-collapse {
    display: none
  }
  .em-main {
    margin-left: 0 !important;
    margin-right: 0 !important
  }
}

.em-top, .em-bottom {
  position: fixed;
  width: 100%;
  z-index: 1
}

.em-top {
  top: 0
}

.em-bottom {
  bottom: 0
}

.em-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2
}

.em-left {
  float: left !important
}

.em-right {
  float: right !important
}

.em-tiny {
  font-size: 10px !important
}

.em-small {
  font-size: 12px !important
}

.em-medium {
  font-size: 15px !important
}

.em-large {
  font-size: 18px !important
}

.em-xlarge {
  font-size: 24px !important
}

.em-xxlarge {
  font-size: 36px !important
}

.em-xxxlarge {
  font-size: 48px !important
}

.em-jumbo {
  font-size: 64px !important
}

.em-vertical {
  word-break: break-all;
  line-height: 1;
  text-align: center;
  width: 0.6em
}

.em-left-align {
  text-align: left !important
}

.em-right-align {
  text-align: right !important
}

.em-justify {
  text-align: justify !important
}

.em-center {
  text-align: center !important
}

.em-display-topleft {
  position: absolute;
  left: 0;
  top: 0
}

.em-display-topright {
  position: absolute;
  right: 0;
  top: 0
}

.em-display-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0
}

.em-display-bottomright {
  position: absolute;
  right: 0;
  bottom: 0
}

.em-display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.em-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(-0%, -50%)
}

.em-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%)
}

.em-display-topmiddle {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%)
}

.em-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%)
}

.em-display-container:hover .em-display-hover {
  display: block
}

.em-display-container:hover span.em-display-hover {
  display: inline-block
}

.em-display-hover {
  display: none
}

.em-display-position {
  position: absolute
}

.em-circle {
  border-radius: 50% !important
}

.em-round-small {
  border-radius: 2px !important
}

.em-round, .em-round-medium {
  border-radius: 4px !important
}

.em-round-large {
  border-radius: 8px !important
}

.em-round-xlarge {
  border-radius: 16px !important
}

.em-round-xxlarge {
  border-radius: 32px !important
}

.em-round-jumbo {
  border-radius: 64px !important
}

.em-border-0 {
  border: 0 !important
}

.em-border {
  border: 1px solid #ccc !important
}

.em-border-top {
  border-top: 1px solid #ccc !important
}

.em-border-bottom {
  border-bottom: 1px solid #ccc !important
}

.em-border-left {
  border-left: 1px solid #ccc !important
}

.em-border-right {
  border-right: 1px solid #ccc !important
}

.em-margin {
  margin: 16px !important
}

.em-margin-0 {
  margin: 0 !important
}

.em-margin-top {
  margin-top: 16px !important
}

.em-margin-bottom {
  margin-bottom: 16px !important
}

.em-margin-left {
  margin-left: 16px !important
}

.em-margin-right {
  margin-right: 16px !important
}

.em-section {
  margin-top: 16px !important;
  margin-bottom: 16px !important
}

.em-padding-tiny {
  padding: 2px 4px !important
}

.em-padding-small {
  padding: 4px 8px !important
}

.em-padding-medium, .em-padding, .em-form {
  padding: 8px 16px !important
}

.em-padding-large {
  padding: 12px 24px !important
}

.em-padding-xlarge {
  padding: 16px 32px !important
}

.em-padding-xxlarge {
  padding: 24px 48px !important
}

.em-padding-jumbo {
  padding: 32px 64px !important
}

.em-padding-4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important
}

.em-padding-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important
}

.em-padding-12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important
}

.em-padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important
}

.em-padding-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important
}

.em-padding-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important
}

.em-padding-48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important
}

.em-padding-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important
}

.em-padding-128 {
  padding-top: 128px !important;
  padding-bottom: 128px !important
}

.em-padding-0 {
  padding: 0 !important
}

.em-padding-top {
  padding-top: 8px !important
}

.em-padding-bottom {
  padding-bottom: 8px !important
}

.em-padding-left {
  padding-left: 16px !important
}

.em-padding-right {
  padding-right: 16px !important
}

.em-topbar {
  border-top: 6px solid #ab2626 !important
}

.em-bottombar {
  border-bottom: 6px solid #ab2626 !important
}

.em-leftbar {
  border-left: 6px solid #ab2626 !important
}

.em-rightbar {
  border-right: 6px solid #ab2626 !important
}

.em-row-padding, .em-row-padding > .em-half, .em-row-padding > .em-third, .em-row-padding > .em-twothird, .em-row-padding > .em-threequarter, .em-row-padding > .em-quarter, .em-row-padding > .em-col {
  padding: 0 8px
}

.em-spin {
  animation: em-spin 2s infinite linear;
  -webkit-animation: em-spin 2s infinite linear
}

@-webkit-keyframes em-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

@keyframes em-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

.em-container {
  padding: 0.01em 16px
}

.em-panel {
  padding: 0.01em 16px;
  margin-top: 16px !important;
  margin-bottom: 16px !important
}

.em-example {
  background-color: #f1f1f1;
  padding: 0.01em 16px
}

.em-code, .em-codespan {
  font-family: Consolas, "courier new";
  font-size: 16px
}

.em-code {
  line-height: 1.4;
  width: auto;
  background-color: #fff;
  padding: 8px 12px;
  border-left: 4px solid #4CAF50;
  word-wrap: break-word
}

.em-codespan {
  color: crimson;
  background-color: #f1f1f1;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 110%
}

.em-example, .em-code {
  margin: 20px 0
}

.em-card, .em-card-2, .em-example {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important
}

.em-card-4, .em-hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important
}

.em-card-8 {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important
}

.em-card-12 {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important
}

.em-card-16 {
  box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21) !important
}

.em-card-24 {
  box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22) !important
}

.em-animate-fading {
  -webkit-animation: fading 10s infinite;
  animation: fading 10s infinite
}

@-webkit-keyframes fading {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes fading {
  0% {
    opacity: 0
  }
  50% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

.em-animate-opacity {
  -webkit-animation: opac 0.8s;
  animation: opac 0.8s
}

@-webkit-keyframes opac {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes opac {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.em-animate-top {
  position: relative;
  -webkit-animation: animatetop 0.4s;
  animation: animatetop 0.4s
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

.em-animate-left {
  position: relative;
  -webkit-animation: animateleft 0.4s;
  animation: animateleft 0.4s
}

@-webkit-keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }
  to {
    left: 0;
    opacity: 1
  }
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }
  to {
    left: 0;
    opacity: 1
  }
}

.em-animate-right {
  position: relative;
  -webkit-animation: animateright 0.4s;
  animation: animateright 0.4s
}

@-webkit-keyframes animateright {
  from {
    right: -300px;
    opacity: 0
  }
  to {
    right: 0;
    opacity: 1
  }
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0
  }
  to {
    right: 0;
    opacity: 1
  }
}

.em-animate-bottom {
  position: relative;
  -webkit-animation: animatebottom 0.4s;
  animation: animatebottom 0.4s
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0
  }
  to {
    bottom: 0px;
    opacity: 1
  }
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}

.em-animate-zoom {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.em-animate-input {
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out
}

.em-animate-input:focus {
  width: 100% !important
}

.em-opacity, .em-hover-opacity:hover {
  opacity: 0.60;
  -webkit-backface-visibility: hidden
}

.em-opacity-off, .em-hover-opacity-off:hover {
  opacity: 1;
  -webkit-backface-visibility: hidden
}

.em-opacity-max {
  opacity: 0.25;
  -webkit-backface-visibility: hidden
}

.em-opacity-min {
  opacity: 0.75;
  -webkit-backface-visibility: hidden
}

.em-greyscale-max, .em-grayscale-max, .em-hover-greyscale:hover, .em-hover-grayscale:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%)
}

.em-greyscale, .em-grayscale {
  -webkit-filter: grayscale(75%);
  filter: grayscale(75%)
}

.em-greyscale-min, .em-grayscale-min {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%)
}

.em-sepia {
  -webkit-filter: sepia(75%);
  filter: sepia(75%)
}

.em-sepia-max, .em-hover-sepia:hover {
  -webkit-filter: sepia(100%);
  filter: sepia(100%)
}

.em-sepia-min {
  -webkit-filter: sepia(50%);
  filter: sepia(50%)
}

.em-text-shadow {
  text-shadow: 1px 1px 0 #444
}

.em-text-shadow-white {
  text-shadow: 1px 1px 0 #ddd
}

.em-transparent {
  background-color: transparent !important
}

.em-hover-none:hover {
  box-shadow: none !important;
  background-color: transparent !important
}

/* Colors */
.em-amber, .em-hover-amber:hover {
  color: #000 !important;
  background-color: #ffc107 !important
}

.em-aqua, .em-hover-aqua:hover {
  color: #000 !important;
  background-color: #00ffff !important
}

.em-blue, .em-hover-blue:hover {
  color: #fff !important;
  background-color: #2196F3 !important
}

.em-light-blue, .em-hover-light-blue:hover {
  color: #000 !important;
  background-color: #87CEEB !important
}

.em-brown, .em-hover-brown:hover {
  color: #fff !important;
  background-color: #795548 !important
}

.em-cyan, .em-hover-cyan:hover {
  color: #000 !important;
  background-color: #00bcd4 !important
}

.em-blue-grey, .em-hover-blue-grey:hover, .em-blue-gray, .em-hover-blue-gray:hover {
  color: #fff !important;
  background-color: #607d8b !important
}

.em-green, .em-hover-green:hover {
  color: #fff !important;
  background-color: #4CAF50 !important
}

.em-light-green, .em-hover-light-green:hover {
  color: #000 !important;
  background-color: #8bc34a !important
}

.em-indigo, .em-hover-indigo:hover {
  color: #fff !important;
  background-color: #3f51b5 !important
}

.em-khaki, .em-hover-khaki:hover {
  color: #000 !important;
  background-color: #f0e68c !important
}

.em-lime, .em-hover-lime:hover {
  color: #000 !important;
  background-color: #cddc39 !important
}

.em-orange, .em-hover-orange:hover {
  color: #000 !important;
  background-color: #ff9800 !important
}

.em-deep-orange, .em-hover-deep-orange:hover {
  color: #fff !important;
  background-color: #ff5722 !important
}

.em-pink, .em-hover-pink:hover {
  color: #fff !important;
  background-color: #e91e63 !important
}

.em-purple, .em-hover-purple:hover {
  color: #fff !important;
  background-color: #9c27b0 !important
}

.em-deep-purple, .em-hover-deep-purple:hover {
  color: #fff !important;
  background-color: #673ab7 !important
}

.em-red, .em-hover-red:hover {
  color: #fff !important;
  background-color: #ab2626 !important
}

.em-sand, .em-hover-sand:hover {
  color: #000 !important;
  background-color: #fdf5e6 !important
}

.em-teal, .em-hover-teal:hover {
  color: #fff !important;
  background-color: #009688 !important
}

.em-yellow, .em-hover-yellow:hover {
  color: #000 !important;
  background-color: #ffeb3b !important
}

.em-white, .em-hover-white:hover {
  color: #000 !important;
  background-color: #fff !important
}

.em-black, .em-hover-black:hover {
  color: #fff !important;
  background-color: #000 !important
}

.em-grey, .em-hover-grey:hover, .em-gray, .em-hover-gray:hover {
  color: #000 !important;
  background-color: #9e9e9e !important
}

.em-light-grey, .em-hover-light-grey:hover, .em-light-gray, .em-hover-light-gray:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important
}

.em-dark-grey, .em-hover-dark-grey:hover, .em-dark-gray, .em-hover-dark-gray:hover {
  color: #fff !important;
  background-color: #616161 !important
}

.em-pale-red, .em-hover-pale-red:hover {
  color: #000 !important;
  background-color: #ffdddd !important
}

.em-pale-green, .em-hover-pale-green:hover {
  color: #000 !important;
  background-color: #ddffdd !important
}

.em-pale-yellow, .em-hover-pale-yellow:hover {
  color: #000 !important;
  background-color: #ffffcc !important
}

.em-pale-blue, .em-hover-pale-blue:hover {
  color: #000 !important;
  background-color: #ddffff !important
}

.em-text-amber, .em-hover-text-amber:hover {
  color: #ffc107 !important
}

.em-text-aqua, .em-hover-text-aqua:hover {
  color: #00ffff !important
}

.em-text-blue, .em-hover-text-blue:hover {
  color: #2196F3 !important
}

.em-text-light-blue, .em-hover-text-light-blue:hover {
  color: #87CEEB !important
}

.em-text-brown, .em-hover-text-brown:hover {
  color: #795548 !important
}

.em-text-cyan, .em-hover-text-cyan:hover {
  color: #00bcd4 !important
}

.em-text-blue-grey, .em-hover-text-blue-grey:hover, .em-text-blue-gray, .em-hover-text-blue-gray:hover {
  color: #607d8b !important
}

.em-text-green, .em-hover-text-green:hover {
  color: #4CAF50 !important
}

.em-text-light-green, .em-hover-text-light-green:hover {
  color: #8bc34a !important
}

.em-text-indigo, .em-hover-text-indigo:hover {
  color: #3f51b5 !important
}

.em-text-khaki, .em-hover-text-khaki:hover {
  color: #b4aa50 !important
}

.em-text-lime, .em-hover-text-lime:hover {
  color: #cddc39 !important
}

.em-text-orange, .em-hover-text-orange:hover {
  color: #ff9800 !important
}

.em-text-deep-orange, .em-hover-text-deep-orange:hover {
  color: #ff5722 !important
}

.em-text-pink, .em-hover-text-pink:hover {
  color: #e91e63 !important
}

.em-text-purple, .em-hover-text-purple:hover {
  color: #9c27b0 !important
}

.em-text-deep-purple, .em-hover-text-deep-purple:hover {
  color: #673ab7 !important
}

.em-text-red, .em-hover-text-red:hover {
  color: #f44336 !important
}

.em-text-sand, .em-hover-text-sand:hover {
  color: #fdf5e6 !important
}

.em-text-teal, .em-hover-text-teal:hover {
  color: #009688 !important
}

.em-text-yellow, .em-hover-text-yellow:hover {
  color: #d2be0e !important
}

.em-text-white, .em-hover-text-white:hover {
  color: #fff !important
}

.em-text-black, .em-hover-text-black:hover {
  color: #000 !important
}

.em-text-grey, .em-hover-text-grey:hover, .em-text-gray, .em-hover-text-gray:hover {
  color: #757575 !important
}

.em-text-light-grey, .em-hover-text-light-grey:hover, .em-text-light-gray, .em-hover-text-light-gray:hover {
  color: #f1f1f1 !important
}

.em-text-dark-grey, .em-hover-text-dark-grey:hover, .em-text-dark-gray, .em-hover-text-dark-gray:hover {
  color: #3a3a3a !important
}

.em-border-amber, .em-hover-border-amber:hover {
  border-color: #ffc107 !important
}

.em-border-aqua, .em-hover-border-aqua:hover {
  border-color: #00ffff !important
}

.em-border-blue, .em-hover-border-blue:hover {
  border-color: #2196F3 !important
}

.em-border-light-blue, .em-hover-border-light-blue:hover {
  border-color: #87CEEB !important
}

.em-border-brown, .em-hover-border-brown:hover {
  border-color: #795548 !important
}

.em-border-cyan, .em-hover-border-cyan:hover {
  border-color: #00bcd4 !important
}

.em-border-blue-grey, .em-hover-border-blue-grey:hover, .em-border-blue-gray, .em-hover-border-blue-gray:hover {
  border-color: #607d8b !important
}

.em-border-green, .em-hover-border-green:hover {
  border-color: #4CAF50 !important
}

.em-border-light-green, .em-hover-border-light-green:hover {
  border-color: #8bc34a !important
}

.em-border-indigo, .em-hover-border-indigo:hover {
  border-color: #3f51b5 !important
}

.em-border-khaki, .em-hover-border-khaki:hover {
  border-color: #f0e68c !important
}

.em-border-lime, .em-hover-border-lime:hover {
  border-color: #cddc39 !important
}

.em-border-orange, .em-hover-border-orange:hover {
  border-color: #ff9800 !important
}

.em-border-deep-orange, .em-hover-border-deep-orange:hover {
  border-color: #ff5722 !important
}

.em-border-pink, .em-hover-border-pink:hover {
  border-color: #e91e63 !important
}

.em-border-purple, .em-hover-border-purple:hover {
  border-color: #9c27b0 !important
}

.em-border-deep-purple, .em-hover-border-deep-purple:hover {
  border-color: #673ab7 !important
}

.em-border-red, .em-hover-border-red:hover {
  border-color: #f44336 !important
}

.em-border-sand, .em-hover-border-sand:hover {
  border-color: #fdf5e6 !important
}

.em-border-teal, .em-hover-border-teal:hover {
  border-color: #009688 !important
}

.em-border-yellow, .em-hover-border-yellow:hover {
  border-color: #ffeb3b !important
}

.em-border-white, .em-hover-border-white:hover {
  border-color: #fff !important
}

.em-border-black, .em-hover-border-black:hover {
  border-color: #000 !important
}

.em-border-grey, .em-hover-border-grey:hover, .em-border-gray, .em-hover-border-gray:hover {
  border-color: #9e9e9e !important
}

.em-border-light-grey, .em-hover-border-light-grey:hover, .em-border-light-gray, .em-hover-border-light-gray:hover {
  border-color: #f1f1f1 !important
}

.em-border-dark-grey, .em-hover-border-dark-grey:hover, .em-border-dark-gray, .em-hover-border-dark-gray:hover {
  border-color: #616161 !important
}

.em-border-pale-red, .em-hover-border-pale-red:hover {
  border-color: #ffe7e7 !important
}

.em-border-pale-green, .em-hover-border-pale-green:hover {
  border-color: #e7ffe7 !important
}

.em-border-pale-yellow, .em-hover-border-pale-yellow:hover {
  border-color: #ffffcc !important
}

.em-border-pale-blue, .em-hover-border-pale-blue:hover {
  border-color: #e7ffff !important
}