@font-face {
  font-family: "CenturyGothic";
  src: url("CenturyGothic.eot");
  src: url("CenturyGothic.woff") format("woff"),
  url("CenturyGothic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}