.actions-index .container {
    max-width: 1020px;
}

.carousel {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

}

.carousel__item {
	list-style: none;
    position: relative;
    width: 235px;
    margin-bottom: 20px;
}

.carousel__item:last-child {
	margin: 0;
}

.actions-index__carousel {
	padding-top: 22px;
	position: relative;
	overflow: hidden;
}

.actions-index__item {
	display: block;
    width: 100%;
    max-width: 236px;
    height: 206px;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 2px;
    border-color:  #54c6ff;
    background-color:  #959595;
    background-image: url('../images/action.jpg');
}

.actions-index__item:hover {
	border-style: solid;
    border-width: 2px;
    border-color:  #e31e24;
    cursor: pointer;
}

.actions-index__item:hover .actions-index__title {
    background-color: rgba(227, 30, 36, .7);
}

.actions-index__title {
    padding: 12px 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 84px;
    z-index: 2;
    font-size: 18px;
    display: block;
    overflow: hidden;
    font-weight: 300;
    line-height: 18px;
    color: #fff;
    background: rgba(84, 198, 255, .7);
}

.actions-index__all {
	text-transform: uppercase;
    text-decoration: underline;
    font-size: 18px;
    right: 0;
}