.controls {
  &__button {

    $btn-min-width: 345px;

    line-height: 1s;
    min-width: $btn-min-width;

    margin: 12px;

    padding: {
      bottom: 14px;
      left: 8px;
      right: 8px;
    };

    font:{
      size: 3.2rem;
    }

    /* @media all and (max-width: $btn-min-width * 1.2) {
      min-width: $btn-min-width / 2;
      white-space: pre-wrap;
      margin: {
        top: 40px;
      }
    
    } */

  }
}


@media (max-width: 600px) {
  .controls {
    width: 100%;
  }

  .controls__button {
    width: 100%;
  }
}