.features-wrap {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding-bottom: 30px;
    padding-top: 15px;
    overflow: hidden;
}

.features .container {
    max-width: 996px;
    margin-left: auto;
    margin-right: auto;
}

.features__item {
    float: left;
    width: 312px;
    height: 273px;
    background-image:url(../images/feature.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 2px;
    border-color:  #54c6ff;
}

.features__item:hover {
    border-style: solid;
    border-width: 2px;
    border-color:  #e31e24;
    cursor: pointer;
}

.features__title {
    position: absolute;
    min-height: 83px;
    box-sizing: border-box;
    padding: 15px 14px 15px 12px;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    text-transform: lowercase;
    font-weight: 300;
    color: #fff;
    background: rgba(84, 198, 255, .7);
}

.features__header {
    font-size: 24px;
    display: block;
    text-transform: uppercase;
    line-height: 26px;
}

.features__item:hover .features__title {
    background-color: rgba(227, 30, 36, .7);
}

.features__item:nth-child(3n+3) {
    margin-right: 0;
}