.main-header {
	position: relative;
}

.main-header__top {
	background-color: #016ec0;
	color: #fff;
}

.main-header__bottom {
	padding-top: 20px;
	padding-bottom: 20px;
}

.main-header__button {
	width: 100%;
	margin-bottom: 10px;
	margin-right: 5px;
	border-radius: 5px;
	background: -webkit-linear-gradient(-90deg, #076dbf 0%, #54c6ff 100%);
	background: -moz-linear-gradient(-90deg, #076dbf 0%, #54c6ff 100%);
	background: -o-linear-gradient(-90deg, #076dbf 0%, #54c6ff 100%);
	background: -ms-linear-gradient(-90deg, #076dbf 0%, #54c6ff 100%);
	background: linear-gradient(180deg, #076dbf 0%, #54c6ff 100%);
}

.main-header__button:hover,
.main-header__button:active {
	color: #fff !important;
	background: -webkit-linear-gradient(-90deg, #e31e24 0%, #f28f92 100%);
	background: -moz-linear-gradient(-90deg, #e31e24 0%, #f28f92 100%);
	background: -o-linear-gradient(-90deg, #e31e24 0%, #f28f92 100%);
	background: -ms-linear-gradient(-90deg, #e31e24 0%, #f28f92 100%);
	background: linear-gradient(180deg, #e31e24 0%, #f28f92 100%);
}

.main-header__logo {
	width: 100%;
	margin-bottom: 20px;
}

.main-header__logo img {
	width: 200px;
}

.main-header__bottom-right {
	overflow: inherit !important;
}

.main-header__menu {
	display: none;
	position: absolute;
    top: 277px;
    left: 0;
    width: 100%;
    float: none;
    text-align: right;
}

.main-header-mobile-menu {
	position: relative;
	margin-top: 20px;
}

.main-header-mobile-menu__link {
	width: 40px;
	position: absolute;
	display: block;
    text-align: right;
    right: 0;
    font-size: 3rem;
    line-height: 30px;
}

.main-header-mobile-menu__container {
	width: 100%;
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	padding-left: 20px;
	padding-top: 10px;
}

.main-header__title,
.main-header__right {
	width: 100%;
	text-align: center;
	font-size: 2rem;
}

.main-header__title {
	font-family: "RubikLight", Arial, sans-serif;
}

.main-header__button {
	text-transform: uppercase;
}

.topmenu__item a {
	color: rgb(131, 131, 131);
	text-transform: uppercase;
}

.main-header__search {
	position: relative;
	width: 30px;
	height: 30px;
}

.main-header__search .icon-search {
	position: absolute;
	top: 5px;
	left: 0;
	font-size: 3.5rem;
	line-height: 1;
}

.main-header__search:hover {
	cursor: pointer;
}

@media (min-width: 500px) {
	.main-header__title,
	.main-header__right {
		width: auto;
		text-align: center;
	}	
}

@media (min-width: 550px) {
	.main-header__logo {
		width: 205px;
		margin-right: 10px;
	}
}

@media (min-width: 580px) {
	.main-header__bottom-right {
		overflow: hidden !important;
	}
}

@media (min-width: 768px) {
	.main-header__menu {
		display: block;
	}

	.main-header-mobile-menu {
		display: none;
	}

	.main-header__bottom {
		padding-bottom: 50px;
	}

	.topmenu__item {
		position: relative;
		margin-right: 20px;
		margin-left: 20px;
		line-height: 1;
	}

	.topmenu__item:hover a {
		color: #016ec0;
		text-decoration: underline;
	}

	.topmenu__item_active a {
		color: #303030;
	}

	.topmenu__item:first-child {
		margin-left: 0;
	}

	.topmenu__item:last-child {
		margin-right: 0;
	}

	.topmenu__item:after {
		content: "";
		position: absolute;
		top: 0;
		right: -22px;
		width: 2px;
		height: 100%;
		background-color: rgb(131, 131, 131);
	}

	.topmenu__item:last-child:after {
		display: none;
	}
}

@media (min-width: 990px) {
	.main-header__buttons {
		text-align: right;
	}

	.main-header__button {
		width: auto;
		margin-bottom: 10px;
	}

	.main-header__menu {
		position: inherit;
		top: 0;
		left: 0;
	}

	.main-header__bottom {
		padding-bottom: 0;
	}
}

/* nav hamburger */

.icon-nav {
  width: 40px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.icon-nav span {
  display: block;
  position: absolute;
  height: 5px;
  width: 50%;
  background: #000;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.icon-nav span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.icon-nav span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

.icon-nav span:nth-child(1),
.icon-nav span:nth-child(2) {
  top: 0px;
}

.icon-nav span:nth-child(3),
.icon-nav span:nth-child(4) {
  top: 12px;
}

.icon-nav span:nth-child(5),
.icon-nav span:nth-child(6) {
  top: 24px;
}

.icon-nav.open span:nth-child(1),
.icon-nav.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.icon-nav.open span:nth-child(2),
.icon-nav.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.icon-nav.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

.icon-nav.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

.icon-nav.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.icon-nav.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.icon-nav.open span:nth-child(5) {
  left: 5px;
  top: 17px;
}

.icon-nav.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 17px;
}