#header {
  padding: {
    top: $header-padding-top;
  };
  margin: {
    bottom: 42px;
  };
}

.header {
  position: relative;
  padding-top: 45px;
  .em-container {
    padding: {
      left: 28px;
      right: 28px;
    }
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
    color: $color-red;
    background-color: white;
    font-size: 2.8rem;
  }
;

  &__content {
    max-width: 740px;
    margin-left: 40px;
    line-height: 1.3;
    font: {
      weight: 400;
      size: 1.5rem;
    }
  ;
    background-color: #f1f3f4;
    padding: {
      top: 30px;
      bottom: 30px;
    }
  ;
  }
}

@media (max-width: 850px) {
  .header {
    padding-top: 0;
  }

  .header__header {
    position: inherit;
    width: 100%;
  }

  .header__content {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: 100%;
  }
}