.main-menu {
  border-bottom: 14px solid #ab2626;
}

.main-menu__site-title {
  font: {
    family: 'BicubikRegular', AppleGothic, sans-serif;
    size: 2.48rem;
  }
}

.main-menu__site-title {
  line-height: 1;
}
