
.navbar {

  $logo-font-size : 2.48rem;

  border-bottom: $navbar-border-bottom-size solid $color-red;
  &__logo {
    margin: {
      top: 15px;
    }
    font: {
      family: 'BicubikRegular', AppleGothic, sans-serif;
      size: $logo-font-size;
    }
  ;
    @media (max-width: 460px) {
      font: {
        size: $logo-font-size * 0.7;
      }
    }
  ;
    @media (max-width: 360px) {
      font: {
        size: $logo-font-size * 0.5;
      }
    }
  }
;

  &__hamburger {
    font: {
      size: 3.85rem;
    }
  ;
  }

  &__item {
    text-align: left;
    min-height: $navbar-item-min-height;
    padding: 8px 16px;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none !important;
    color: #000;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
  }

  &__item:hover {
    color: #000 !important;
    background-color: #ccc !important;
  }

  &__item_active {
    color: #000 !important;
    background-color: #ccc !important;
  }

}

.navbar .navbar__item {
  padding-top: 20px;
}

.navbar .navbar__item_logo,
.navbar .navbar__hamburger {
  padding-top: 0px;
  padding-bottom: 0px;
}