
.navbar {
  border-bottom: $navbar-border-bottom-size solid $color-red;
  &__logo {
    font: {
      family: 'BicubikRegular', AppleGothic, sans-serif;
      size: 2.48rem;
    }
  ;
    @media (max-width: 460px) {
      font: {
        size: 1.5rem;
      }
    }
  ;
  }
;

  &__hamburger {
    font: {
      size: 3.85rem;
    }
  ;
  }

  &__item {
    text-align: left;
    min-height: $navbar-item-min-height;

  }
}
