.news {
    max-width: 400px;
}

.news__item {
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.news__item, .news__items {
    overflow: hidden;
}

.news__img {
    display: block;
    width: 198px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 500px) {
    .news__img {
        float: left;
        margin-bottom: 0;
    }

    .news__info {
        margin-left: 218px;
    }
}

.news__info {
    font-weight: 300;
}

.news__title {
    text-decoration: none;
    line-height: 1.1;
    display: inline-block;
    font-weight: 300;
}

.news__date {
    margin-top: 15px;
    padding-top: 3px;
    float: left;
    color: #2196F3
}

.news__img img {
    border-radius: 5px;
}

.news__img img {
    display: block;
    width: 100%;
    -webkit-transition: opacity .1s linear 0s;
    -moz-transition: opacity .1s linear 0s;
    -o-transition: opacity .1s linear 0s;
    transition: opacity .1s linear 0s;
    -webkit-backface-visibility: hidden;
}

.news__img:hover img {
    opacity: .75;
}

.news__header {
    margin-bottom: 20px;
}

.news__header-button {
    font-family: "RubikLight", Arial, sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    color: #e31e24;
    background: #fff;
    text-align: center;
    height: 45px;
    line-height: 46px;
    padding: 0 22px;
    text-decoration: none;
    margin-right: 17px;
    box-sizing: border-box;
    border: 2px solid #e31e24;
    -webkit-transition: background .1s linear 0s;
    -moz-transition: background .1s linear 0s;
    -o-transition: background .1s linear 0s;
    transition: background .1s linear 0s;
    -webkit-backface-visibility: hidden;
    position: relative;
}

.news__header-button:hover {
    text-decoration: underline;
}

.news__header-button:after, 
.news__header-button:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -9px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 9px 0;
    border-color: #e31e24 transparent transparent transparent;
    content: '';
}

.news__header-button:after {
    bottom: -7px;
    border-color: #fff transparent transparent transparent;
}
