$service-selector-min-height: 71px;

#service-selector {
}

.service-selector {
  &__tabs-panel {
    border-bottom: $navbar-border-bottom-size solid $color-red;
  }
;

  &__tablink {
    min-height: $service-selector-min-height;
    font-weight: 400;
  }
;

  &__tabs-content {

  }
;

  &__tabs-content-item {
    min-height: $service-selector-min-height / 3;
  }

}
