  $common-margin: 40px;
  $header-padding-left: $common-margin;
  $article-margin-bottom: $common-margin * .5;

.site-section {
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 400;

  &__header {
    width: 100%;
    $fontsize: 3.933rem;
    font-size: $fontsize;
    @media all and (max-width: 500px) {
      font-size: $fontsize / 2;
    }
  }

  &__header span {
    font-size: 50px;
  }

  &__article-header {
    $fontsize: 5.333rem;
    font-size: $fontsize;
    @media all and (max-width: 500px) {
      font-size: $fontsize / 2;
      margin: {
        left: $common-margin /2;
        right: $common-margin /2;
      };
      padding: {
        left: $header-padding-left /2;
      };
    }
    color: $color-red;

    margin: {
      left: $common-margin;
      right: $common-margin;

    };
  }

  &__wrap {
    max-width: 800px;
    padding-right: 15px;
    padding-left: 15px;
  }
;

  &__article {
    font-size: 2.172rem;
    margin: {
      bottom: $article-margin-bottom;
    };
  }
;
}

.screen {
  position: relative;
  overflow: hidden;
}

.screen-wrap {
  z-index: 10;
  background: rgba(245, 248, 250, 0.9);
  min-height: 590px;
}

.em-icon {
  position: absolute;
  z-index: -1;
  font-size: 800px;
}

.screen > .icon-schedule {
  top: -20px;
  left: 100px;
  font-size: 624px;
}

.screen > .icon-results {
  top: 15px;
  right: 0;
  font-size: 550px;
}

.screen > .icon-ratio {
  left: 100px;
  top: 0;
  font-size: 550px;
}

.screen > .icon-services {
  top: 0;
  right: 60px;
  font-size: 600px;
}

.screen > .icon-about {
  left: 70px;
  top: -35px;
  font-size: 620px;
}

.screen-wrap .controls a {
  margin: 0;
}

@media (max-width: 720px) {
  .screen > .icon-schedule {
    top: -20px;
    left: 100px;
    font-size: 500px;
  }

  .screen > .icon-results {
    top: 15px;
    right: 145px;
    font-size: 400px;
  }

  .screen > .icon-ratio {
    left: 100px;
    top: 0;
    font-size: 400px;
  }

  .screen > .icon-services {
    top: 0;
    right: 156px;
    font-size: 450px;
  }

  .screen > .icon-about {
    left: 70px;
    top: -35px;
    font-size: 480px;
  }

  .screen-wrap {
    min-height: 460px;
  }
}

@media (max-width: 600px) {
  .screen .em-icon {
    display: none;
  }

  .screen-wrap {
    min-height: 0;
  }
}


$site-section-header-paddinng-left: 14px;


/* #schedule {

  $icon-width: 84px;
  $icon-height: 75px;

  .site-section {
    &__header {
      background: {
        image: url("../images/schedule-icon-black.png");
        repeat: no-repeat;
        position: left top;
      }
    ;
      padding: {
        left: $icon-width + $site-section-header-paddinng-left;
      ;
      }
    ;
      min-height: $icon-height;
      line-height: $icon-height;
    }
  }
} */


/* #analazys-results {
  $icon-width: 58px;
  $icon-height: 100px;

  .site-section {
    &__header {
      background: {
        image: url("../images/analazys-results-icon-black.png");
        repeat: no-repeat;
        position: left top;
      }
    ;
      padding: {
        left: $icon-width + $site-section-header-paddinng-left;

      }
    ;
      min-height: $icon-height;
      line-height: $icon-height;
    }
  }
}

#rating {
  $icon-width: 82px;
  $icon-height: 71px;

  .site-section {
    &__header {
      background: {
        image: url("../images/rating-icon-black.png");
        repeat: no-repeat;
        position: left top;
      }
    ;
      padding: {
        left: $icon-width + $site-section-header-paddinng-left;
      }
    ;
      min-height: $icon-height;
      line-height: $icon-height;
    }
  }
}


#services {
  $icon-width: 73px;
  $icon-height: 79px;

  .site-section {
    &__header {
      background: {
        image: url("../images/services-icon-black.png");
        repeat: no-repeat;
        position: left top;
      }
    ;
      padding: {
        left: $icon-width + $site-section-header-paddinng-left;
      }
    ;
      min-height: $icon-height;
      line-height: $icon-height;
    }
  }
}


#about {
  $icon-width: 78px;
  $icon-height: 69px;

  .site-section {
    &__header {
      background: {
        image: url("../images/about-icon-black.png");
        repeat: no-repeat;
        position: left top;
      }
    ;
      padding: {
        left: $icon-width + $site-section-header-paddinng-left;
      }
    ;
      min-height: $icon-height;
      line-height: $icon-height;
    }
  }
} */