.tabs {
  &__items-headers {
    display: flex;
  }
  &__item {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-self: stretch;
    width: 49.9999%;
    /*@media screen (max-width:)*/
  };
}
