@import "vars";
@import "default";
@import "navbar";

@import "header";

@import "service-selector";
@import "site-sections";
@import "controls";


html, body {
  background-color: #006d8c;
  background: {
    image: url("../images/header_background.png");
    repeat: repeat;
    position: right top;
    attachment: fixed;
  }
}

.color-gray {
  background-color: $color-grey !important;
}

.color-red {
  background-color: $color-red !important;
}

.page_services {
	margin: 0 auto;
	margin-top: 103px; 
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 
                0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    background: #fff;
}