@import "vars";
@import "default";
@import "navbar";

@import "header";

@import "service-selector";
@import "site-sections";
@import "controls";


html, body {
  background-color: rgba(245, 248, 250, 0.85);;
  /* background: {
    image: url("../images/header_background.png");
    repeat: repeat;
    position: right top;
    attachment: fixed;
  } */
}

.body-index {
  background: none;
}

.color-gray {
  background-color: $color-grey !important;
}

.page_services,
.page_ratio {
	margin: 0 auto;
	margin-top: 103px; 
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 
                0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    background: #fff;
}

.page_ratio {
  margin-top: 165px;
}

.body-services,
.body-ratio {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.page_services,
.page_ratio  {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex: 1;
  font-size: 1.384rem;
}

@media (min-width: 1101px) {
  .page_services,
  .page_ratio {
    width: 1100px;
  }
}