<div id="auth" class="em-modal">
  <div class="em-modal-content">
    <div>
      <span onclick="EM.auth.hideLoginForm();" 
      class="em-button em-display-topright">&times;</span>
      <div class="em-container em-white">
        <h2>Выберите способ авторизации</h2>
      </div>
      <div class="em-container em-card-4 em-padding">
        <div class="auth__item" onclick="EM.auth.login('vk');">VK.com</div>
      </div>
    </div>
  </div>
</div>