<div data-parent="{{this.dataParent}}" data-value="{{this.dataValue}}" class="selects-choices__item em-padding em-card-2 em-show-inline-block em-margin-top">
	{{this.text}}
	<span class="selects-choices__delete em-xlarge" onclick="EM.selects.deleteChoice(this);">&times;</span>
</div>